include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-include yuuno_ipython/config *
recursive-include yuuno_ipython/static *
recursive-include yuuno_ipython/build *

recursive-include yuuno_jupyterlab/config *
recursive-include yuuno_jupyterlab/static *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
