.preview .viewport img {
    max-width: unset;
}

.encode .progress {
    height: 0px;
    margin: 0;
}

.jp-HTMLSelect.yuuno-fake {
    position: relative;
    width: 80px;
}

.jp-HTMLSelect.yuuno-fake > select {
    /* Remove the arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';

    /* Remove the any visual separation from the layout */
    border: 0;
    background: transparent;
    height: 26px;

    /* Make it appear above everything else */
    width: 80px;
    position: absolute;
    z-index: 4;

    /* Move it away from the arrow */
    text-align: right;
    padding-right: 20px;
}

.jp-HTMLSelect.yuuno-fake > span {
    position: absolute;
    right: 0;
    top: 3px;
}

/* VSCode related fixes */
.encode .header, .audio, .preview .header, .preview .footer {
    /* VSCode renders white on white, which, of course, is unreadable */
    color: black;
}

.preview .viewport > .viewport::-webkit-scrollbar-track {
    /* VSCode shows the viewport checkerboard behind the scrollbar. */
    background: white;
}

.preview .footer .zoom .jp-HTMLSelect.yuuno-fake {
    /* VSCode shows the viewport checkerboard behind the scrollbar. */
    height: 22px;
}

.preview .footer .zoom .jp-HTMLSelect.yuuno-fake > select {
    /* VSCode shows the viewport checkerboard behind the scrollbar. */
    height: 22px;
}

